[merge]
	tool = nvim
  conflictstyle = diff3

[user]
	email = roc26002w@gmail.com
  name = Rocko

[includeIf "gitdir:~/code/novax/"]
  path = ~/code/rocko-vim/git/.novax_user

[diff]
  # 使用 icdiff 來取代 git 內建的 diff
  # icdiff v2.0.5
  # 已加入 git-diff script 可直接用 alias gd='git icdiff'

[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[core]
	editor = nvim
	pager = less

[commit]
	template = ~/.config/git/.gitmessage.txt

[icdiff]
	options = --line-numbers
