[merge]
	tool = nvim
  conflictstyle = diff3

[user]
	email = roc26002w@gmail.com
  name = Rocko

[includeIf "gitdir:~/code/netask/"]
  path = /home/ubuntu/.config/rocko-vim/git/.novax_user

[diff]
  # 使用 icdiff 來取代 git 內建的 diff
  external = /home/ubuntu/.config/rocko-vim/icdiff/git-diff-wrapper.sh

[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[core]
	editor = nvim

[commit]
	template = /home/vagrant/.config/git/.gitmessage.txt
