snippet echo
  echo "$0";
endsnippet

snippet fore 
foreach ($${1:array} as $${2:key} => $${3:value}) {
	${0:${VISUAL:\/\////}}
}
endsnippet

snippet pubf
public function ${1:methodName}($2): ${3:void}
{
	${0:${VISUAL:\/\////}}
}
endsnippet

