"-------settings--------"
set surround
set NERDTree
" set tags=tags,tags.vendor
set rnu
set nu
set hlsearch
set ideajoin
" set <leader> to <\>
let mapleader="\"

autocmd BufWritePost *.rb silent !ctags -R --languages=ruby --exclude=.git --exclude=log . $(bundle list --paths)

" class name space 整理
nmap zr gg/use<CR>V/class<CR>?use<CR>
imap zr <ESC>gg/use<CR>V/class<CR>?use<CR>

nmap <leader>s :source ~/.ideavimrc <CR>
imap <leader>l <End>
nmap <leader><ESC> :action HideAllWindows<CR>
nmap <leader>1 <Esc>:NERDTreeToggle<CR> :action SelectInProjectView<CR>
nmap <leader>2 <Esc>:action ActivateStructureToolWindow<CR>
nmap <leader>3 <Esc>:action ActivateVersionControlToolWindow<CR>
nmap <leader>4 <Esc>:action ActivateTerminalToolWindow<CR>
nmap <leader>pcf zz:action OptimizeImports<CR>:action ReformatCode<CR>
imap <leader>pcf <Esc>zz:action OptimizeImports<CR>:action ReformatCode<CR>
nmap <leader>n :action GotoNextError<CR>
map <leader>re :action RenameElement<CR>
nmap <leader>zgc zz:action CheckinProject<CR>
vmap <leader>m :action Refactorings.QuickListPopupAction <CR>
nmap <leader>m :action Refactorings.QuickListPopupAction <CR>
nmap <leader>i :action ShowIntentionActions<CR>
imap <leader>i <ESC> :action ShowIntentionActions<CR>
nmap <leader>y :action CopyContentRootPath<CR>

" string case setting
nmap <C-u> bve :action StringManipulation.SwitchStyleAction<CR>
imap <C-u> <ESC> bve :action StringManipulation.SwitchStyleAction<CR>
vmap <C-u> :action StringManipulation.SwitchStyleAction<CR>

" cancel search
nmap <Leader><space> :nohlsearch<CR>

nmap <C-t> :action Back<CR>
imap <C-t> <Esc>:action Back<CR>

map <C-K> :action MoveLineUp<CR>:action VimAutoIndentLines<CR>
imap <C-K> <Esc>:action MoveLineUp<CR>:action VimAutoIndentLines<CR>
map <C-J> :action MoveLineDown<CR>:action VimAutoIndentLines<CR>
imap <C-J> <Esc>:action MoveLineDown<CR>:action VimAutoIndentLines<CR>
map <C-D> :action EditorDuplicateLines<CR>
imap <C-D> <Esc>:action EditorDuplicateLines<CR>
nmap ,m :action FileStructurePopup<CR>

nmap <leader>tt mb?}<CR>V%{y`bP/function<CR>f_lzz

" ============ Git ============
nmap <leader>b :action GitToolBox.ShowInlineBlame<CR>
imap <leader>b <ESC>:action GitToolBox.ShowInlineBlame<CR>
nmap <leader>gy :action Vcs.ShowTabbedFileHistory<CR>
imap <leader>gy <ESC>:action Vcs.ShowTabbedFileHistory<CR>
nmap <leader>gh :action Vcs.ShowHistoryForBlock<CR>
imap <leader>gh <ESC>:action Vcs.ShowHistoryForBlock<CR>

" ============ PHPUnit ============
nmap <leader>uu :action RunMenu<CR>
imap <leader>uu <ESC> :action RunMenu<CR>
nmap <leader>ruu :action ReformatCode<CR>:action RunClass<CR>
imap <leader>ruu :action ReformatCode<CR><ESC>:action RunClass<CR>

" ============ Folding ============
"nmap <leader>zk :action CollapseRegions<CR>
"nmap <leader>zo :action ExpandRegions<CR>
nmap <leader>zo :action CollapseAllRegions<CR>
nmap <leader>zk :action ExpandAllRegions<CR>

" ============= ACE Jump =============
" Press `f` to activate AceJump
" nmap <leader>w <Action>(AceAction)
" Press `F` to activate Target Mode
" nmap F <Action>(AceTargetAction)
" Press `g` to activate Line Mode
" nmap g <Action>(AceLineAction)
